html,body{
    height: 100%;
    max-height: 30vh;
    margin: 0;
}
body{
    font-size: 18px;
    align-items: center;
    padding: auto;
    backdrop-filter: blur(10px);
    font-family: "Montserrat";
}